.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
body{
    background: #1A0B2E;
    max-width: 100%;
}

/* ----Common Style---- */
.tittle{
color: #ffff;
font-size: 50px;
text-align: center;
}
.section-heading{
    color: #ffff;
    font-size: 40px;
    padding-top: 50px;
    margin-bottom: 8px;
}

.paragraph{
    color: #b8b3b3;
    font-size: 12px;
    text-align: center;
    margin-bottom: 8px;
}


/* -----Nav----- */
nav{
    color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ffffff25;
}
nav .wave-text{
    background: linear-gradient(
        90deg,
        #ff4ecd,
        #b26bff,
        #ffb347
    );
    background-clip: text;
    color: transparent;
}
div .menu{
    display: flex;
    list-style: none;
    gap: 16px;
    font-size: 13px;
}
.menu a{
    text-decoration: none;
    color: #ffff;
}
.primary-btn {
    padding: 12px 18px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(135deg,#ffb347, #ff5f9e, #7f5cff);
    color: #ffff;
    font-size: 16px;
    cursor: pointer;
}
nav div button:hover{
    transform: translateY(-2px);
    box-shadow: 0 12px 30px rgba(255,95,158,0.5);
}
.arrow{
    display: none;
}

/* ---Banner Section--- */
#banner{
    max-width: 100%;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
}
.banner-container{
    width: 550px;
    height: 558px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.img-box{
    position: relative;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.img-box .img-a{
    width: 350px;
    height: 350px;
    margin-left: 30px;
    background: linear-gradient(135deg,#ffb347, #ff5f9e, #7f5cff);
    border-radius: 1000px;

}
.img-box .img-b{
    position: absolute;
    left: 110px;
    top: 80px;
    margin-left: 40px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 100px;
}
.sub-btn{
    padding: 12px 20px;
    color: #00ff88;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #00ff88;
}
.new{
    color: #ffff;
    background: #2ecc71;
    font-size: 18px;
    padding: 3px 7px;
    border-radius: 12px;
    position: absolute;
    top: 150px;
    margin-left: 250px;
}
/* ---Podcast--- */

#podcast{
    max-width: 100%;
    margin: 0 auto;
}
.podcast-container{
    width: 75%;
    text-align: center;
    margin: 0 auto;

}
.ratio{
    border-top: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding-bottom: 100px;
}
.number{
    color: #00ff88;
    font-size: 48px;
    margin-bottom: 16px;
}
.count>p{
    color: #d3c3c3;
    font-size: 13px;
    margin-bottom: 24px;
}
.about{
    height: 250px;
    border-bottom: 1px solid #ffffff25;
}

/* ----Shoose Section---- */

#choosing{
    max-width: 1600px;
    background-color: #230e3d;
}
.choosing-container, .features-container{
    max-width: 1200px;
    width: 75%;
    
    margin: 0 auto;
    text-align: center;
}
.facilities{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 0 auto;
    gap: 30px;
    
    grid-template-areas:
     "card-1 card-2 card-2"
     "card-1 card-3 card-3"
     "card-4 card-4 card-5" 
    ;
    padding-top: 40px;
    padding-bottom: 120px;

}
.card-1{grid-area: card-1;}
.card-2{grid-area: card-2;}
.card-3{grid-area: card-3;}
.card-4{grid-area: card-4;}
.card-5{grid-area: card-5;}

.facilities .card-1, .card-2, .card-3, .card-4, .card-5{

    background-color: #351165;
    border-radius: 40px;
    color: #ffffff;
    padding: 40px;
    display: grid;
    gap: 16px;
    
    text-align: start;
    
}
.facilities img{
    width: 60px;
}

/* ---Featured section---- */

.features-container{
    padding-bottom: 120px;
}

.videos{
    display: flex;
    gap: 30px;
    padding-top: 40px;
    text-align: start;
}
.video-card{
    
    display: grid;
    gap: 24px;
    background-color: #250d44;
   
}
.video-text{
    padding: 24px; 
}
.green img{
    width: 25px;
}

.green{
    color: #00ff88;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    gap: 6px;
    padding-bottom: 24px;
   
}
.alex{
    display: flex;
    text-align: start;
    gap: 24px;
    background-color: #351165;
    padding: 24px;
    border-radius: 40px;
    
}
.alex-text{
    display: grid;
    gap: 16px;
}
.alex-text h4{
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
}
.social-links{
    display: inline-flex;
    gap: 8px;
}
.social-links .icon{
    width: 30px;
    padding: 3px;
    border-radius: 50%;
    background-color: #533c72;
    border: 1px solid #70045075;

}

/* ---Footer--- */

.footer-container{
    text-align: center;
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    width: 75%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
   
    
}
.footer-links{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    
}
.f-icon{
    display: flex;
    gap: 8px;
}
.f-img{
    width: 20px;
}
.footer-text{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;

}
.reserved{
    color: #ffffff;
}


/* -----Responsive----- */
@media screen and (max-width:576px) {
    .menu-container, 
    .btn-div,
    .primary-btn {
        display: none;
    }
    .arrow{
        display: inline;
    }
    .img-box h2,.img-box>p{
        display: flex;
        width: 100%;
        text-align: center;
    }
    nav{
        margin: 0 16px;
    }
    #banner{
        min-height: 80vh;
        background-size: contain;
        background-position: top;
        background-position-y: 100px ;
        background-repeat: no-repeat;
    }
    .img-box .img-a {
        margin-top: 40px;
        margin-left: 100px;
        width: 200px;
        height: 200px;
    }
    .img-box .img-b{
        margin-top: -5px;
        margin-left: 40px;
        width: 100px;
        height: 100px;
    }
    .img-box .tittle{
        width: 60%;
        margin: 0 auto;
    }
    nav{
        gap: 200px;
    }
    .new{
        margin-right: 120px;
    }
    .primary-btn{
        display: inline;
    }
    .btn{
        margin: 0 auto;
        align-items: center;
        gap: 10px;
    }

    #podcast{
        flex-direction: column;
        margin-top: -300px;
    }
    .section-heading{
        font-size: 30px;
    }
     .ratio{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }    
    #banner, #podcast, #choosing, .features, .footer{
        width: 100%;
    }
        
    .banner-container, .choosing-container {
        width: 100%;
    }
    .choosing-container .facilities{
        display: flex;
        flex-direction: column;
        width: 98%;
        align-items: center;
        justify-content: center;
    }
    .features-container{
        padding-bottom: 20px;
    }
    .features-container .episodes .videos{
        display: flex;
        flex-direction: column;
        width: 98%;
    }
    .host .alex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 40px;
    }
    .footer-container .footer-links{
        display: flex;
        flex-wrap: wrap;

    
}
